<div id="slider-container">
		<div class="band-synopsis">
			<p class="hidden-phone"><?php echo nl2br($custom_meta['bandprofile'][0]); ?></p>
			
			<div class="band-buttons">
				<a href="#" class="book-band">Book this band</a>
				<a href="#" class="button large">Make Enquiry</a>
			</div>
		</div>

		<div class="slider">
			<div id="carousel" class="carousel slide has-buttons">
	     		<ol class="carousel-indicators">
	       		<li data-target="#carousel" data-slide-to="0" class="active"></li>
	       		<li data-target="#carousel" data-slide-to="1" class=""></li>
	       		<li data-target="#carousel" data-slide-to="2" class=""></li>
	     		</ol>
	     
	     		<div class="carousel-inner">
	     			<!-- Get Attached images from the website and show in the slider -->
	     			<!-- get attached image as "band-slide" -->

		       	<div class="item active"><img src="<?php bloginfo('stylesheet_directory'); ?>/img/slider-image.png" alt=""></div>
		       	<div class="item"> <img src="<?php bloginfo('stylesheet_directory'); ?>/img/slider-image.png" alt=""></div>
		       	<div class="item"> <img src="<?php bloginfo('stylesheet_directory'); ?>/img/slider-image.png" alt=""></div>
		      </div>
	     		
	    		<a class="left " href="#carousel" data-slide="prev"><img src="<?php bloginfo('stylesheet_directory'); ?>/img/arrow-left.png"></a> 
	      	<a class="right" href="#carousel" data-slide="next"><img src="<?php bloginfo('stylesheet_directory'); ?>/img/arrow-right.png"></a> 
	   	</div>
		</div>
	</div> <!-- end slide container -->