/*
	Author:       Ben Lacey
	Date:         28 May 2013
	Author URI:    http://www.laceytechsolutions.co.uk
	Version:      1
	Description:  Responsive theme for Likeitlive.com
*/


.goLeft {float:left;}
.goRight {float:right;}
.clear {clear:both; display:inline-block; overflow:hidden; visibility:hidden; width:0; height:0;}
.thumbLeft{margin:0 10px 10px 0; float:left;}
.thumbRight{margin:0 0 10px 10px; float:right;}


h3 { margin: 20px 0 5px 0; line-height: 21px; font-size: 17px; }
p, blockquote, cite { font-size:0.857em; }


pre { 
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 11px;
	line-height: 17px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.main-nav ul { float:right; overflow:hidden; }
.main-nav li { padding-right:15px; }

.full-width .span12 { width:auto; padding:20px; }

.bands-filters ul#sidebar { margin:0px; padding:0px; }
.bands-filters ul#sidebar > li { margin-bottom: 35px; }

.bands-filters ul#sidebar li .textwidget { padding-top:17px; }
.bands-filters ul#sidebar li .textwidget ul { margin:0px; padding:0 0 0 4px; }
.bands-filters ul#sidebar li .textwidget ul li { list-style-type:none; }
.bands-filters ul#sidebar li ul li { margin-bottom:0px; }


.first-pagination-row { margin-bottom:30px; }
.first-pagination-row, .last-pagination-row { width:100%; }

.full-width.contact .row .span12 { padding:0px; }
.full-width.contact .row .span12 .contact-wrapper .contact-message { padding:20px; }
.contact-wrapper label { width:88px; }


.full-width.contact .row .span12 .contact-wrapper .wpcf7-not-valid-tip { border: none !important; color: #FD0000 !important; position:absolute; top:6px !important; left:-214px !important; z-index: 100; background:none !important; padding: 2px; }


.landing-page .bands-list { padding-top:10px; padding-left:10px; }
.landing-page #right-sidebar h3 { background:none; color:#212121; font-size:1em; line-height:20px; padding:0px; }
.landing-page #right-sidebar .band-testimonial { font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; text-transform:none; }
.text-black { color: #212121 !important; }
.text-bold { font-weight:bold !important; }

.showcase-event { width:auto !important; }
.showcase-event h3 { top:5px !important; }
.showcase-event p { font-size:1.143em !important; color:#f0f0f0 !important; }

.view-more-bands { width:auto !important; }


@media screen and (min-width:1024px){
	.similar-acts ul li:nth-child(5) { margin-right:0px; }
	.similar-acts ul li:nth-child(6) { display:none; }	
}


@media(min-width:785px){
	.contact-wrapper textarea { width: 533px; }
}


@media screen and (max-width:610px){
	.cost-of-band { margin:20px 0 0px 0; background:#ee1f79; width:100%; text-align:center; }

	.similar-acts ul li:nth-child(3),
	.similar-acts ul li:nth-child(6) { margin-right:0px; }
	 
	.similar-acts ul li { width:22%; }
}