.mediaSize, .mediaSize2 {
	position:absolute;
	top:0;
	left:0;
	color:#fff;
}
.mediaSize2 {
	top:15px;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.mediaSize2:after {
	content:"@media (min-width: 768px) and (max-width: 979px)";
}
header .main-nav{
	width:554px;
}
.logo {
	width:170px;
}
header .main-nav li {
	padding-right: 0.8%;
	padding-left: 0.9%;
}
.featured {
	width:100%;
}
.featured-item {
	left: 50%;
margin-left: -250px;
}
.contact-testimonial-holder {
	clear:both;
	width:100%;
}
.homepage-contact {
	float:left;
}
.testimonial-icon {
	right:0
}
.latest-testimonial {
	height:357px;
}
.pre-footer .left p {
	width:auto;
}

.top-socials {
	position:absolute;
	top:0;
	right:0;
}
.testimonial-quote::after {
	bottom:auto;
}
.sharethis-socials {
	top:480px;
}
.bands-info {
	width:96%;
}
.showcase-event {
	margin:0 auto;
}
.band-testimonial-holder {
	width:99%;
}
.bands-filters {
	width:180px;
}
.bands-list {
	width:515px;
}
.bands-list .span4 {
	margin-left:45px;
}
.bands-list .span4:first-child {
	margin-left:0;
}
.bands-list .row {
	background-position:-157px bottom;
}
.band-samples {
	width:96%;
	height:360px;
	position:relative;
}
.band-samples img + h3{
	position:absolute;
	right:0;
	top:10px;
	margin-top:0;
	width:266px;
}
.band-samples img + h3 + img {
	position:absolute;
	top:62px;
	right:0;
}
.contact-wrapper input {
	width:206px;
}
.contact-map {
position: absolute;
bottom: 17px;
right: 88px;	
}
.band-profile {
	width:96%;
}
.book-band-holder {
	margin:38px auto 0;
}
.similar-acts li {
	padding:7px;
}
.similar-acts img {
	width:110px;
}
.carousel .cost-of-band {
	right:-405px;
}
}
/* Landscape phone to portrait tablet */
 @media (max-width: 767px) {
.mediaSize2:after {
 content:"@media (max-width: 767px)";
}
body {
	padding:0;
}
.pre-nav {
	padding:11px 10px;
}
.logo {
position: absolute;
left:10px;
}
.mobile-nav-icon {
margin-top: 15px;
position:absolute;
right:10px;
}
.header-colorful-line {
	height:95px;
}
.nav-gradient {
	height:90px;
}
.main-slogan {
	width:85%;
	font-size:1.2em;
	height:auto;
	padding: 4px 17px;
	float:left;
	margin-top:25px;
}
.top-socials {
width: 27%;
float: right;
margin-top: 53px;
margin-left: 0;
margin-right: 3%;
}
.top-socials {
	display:none;
}
.carousel, 
.carousel-caption, 
.carousel-inner, 
.carousel .item,
.slider {
	height:auto;
}
.item img {
	position:relative;
}
.slider,
.modules,
.middle-message,
.featured,
.contact-testimonial-holder,
.legal-social,
.bands-list,
.bands-info,
.band-testimonial-holder,
.tags,
.tab-content,
.book-band-holder,
.band-samples,
.similar-acts ul {
	margin-left:10px;
	margin-right:10px;
	width:auto;
}
.slider:before,
.slider:after {
	bottom:4px;
}
.carousel-caption h4 {
	margin-top:0;
}
.carousel .left, .carousel .right {
	display:none;
}
.carousel .cost-of-band {
	right:-133%;
}
.module-content {
	background-repeat:repeat-x;
	overflow:hidden;
}
.module-content img {
	float:left;
	margin-right:10px;
}
.module-content p {
	margin-top:10px;
	
}
.featured-item {
	width:auto;
}
.featured-item h4 {
	float:none;
}
.featured-item p {
	width:auto;
	float:none;
}
.featured-item .button {
	bottom:10px;
	right:20px;
}
.shadowed-box {
	float:none;
	width:auto;
}
.latest-testimonial .content {
	width:auto;
}
.testimonial-icon {
	right:0;
}
.homepage-contact .field, 
.homepage-contact textarea {
	width:98%;
}
.homepage-contact .button {
	float:none;
}
.bands-content {
	position:relative;
}
.bands-filters {
	/*
	position: absolute;
	top: 78px;
	width: auto;
	left: 2px;
	right: 10px;
	*/
	width:98%;
}
.first-pagination-row + .row {
	margin-top:485px;
}
.filter-group {
	float: left;
	margin-right: 12px;
}
.bands-list h2 {
	margin-bottom:19px;
}
.bands-list .row {
	background:none;
	padding:0;
}
.bands-filters h4 {
	margin-top:15px;
}
.bands-list .band {
	width:100%;
	margin-bottom:85px;
	clear:both;
}
.bands-list .band > img {
	float:left;
	margin-right:10px;
}
.bands-list h6 {
	top:-9px;
}
.bands-list .buy {
	top:0;
}
.first-pagination-row h2 {
	width:170px;
	float:left;
}
.pagination {
float: right;
width: 193px;
}

.band-profile {
	width:auto;
}
.tag.active,
.tag {
display: block;
margin-bottom: 10px;
width: -webkit-calc(47% - 10px);
width: -moz-calc(47% - 10px);
width: calc(47% - 10px);
float: left;
}
.tag:nth-child(even) {
	margin-left:10px;
}
.tag.active {
	background:#212121;
}
.tab-content {
	clear:both;
}
.book-band-holder {
	width:auto;
}
.book-band-holder h3 {
	display:block;
}
.book-band-holder .button {
	display: inline-block;
	/*
		display:block;
		margin-bottom:10px;	
		width:43%;
		float:left;
	*/
}
.carousel .band-buttons {
bottom: auto;
right: -122%;
top: 20px;
}
.pre-footer p,
.pre-footer h4 {
	width:auto !important;
	padding:10px;
}
.testimonials-wrapper .buy {
	left:233px;
	right:auto;
}
.showcase-event {
	width:97%;
}
.view-more-bands {
	width:99%;
}
.band-testimonial {
	padding:18px 30px;
}
.band-testimonial::before {
	left:-5px;
}
.band-testimonial::after {
	right:0;
}
.similar-acts h3 {
	margin-left:10px;
}
.contact-wrapper .span9,
.contact-details {
	width:auto;
	position:relative;
}
.contact-details .socials {
position: absolute;
top:auto;
right: 10px;
bottom:0;
text-align: right;
}
.contact-wrapper input,
.contact-wrapper label {
	float:left;
}
.contact-wrapper input {
	width:-webkit-calc(34% - 30px);
	width:-moz-calc(34% - 30px);
	width:calc(34% - 30px);
}
.contact-wrapper label{
	margin-left:15px;
}
.contact-wrapper textarea {
	width:-webkit-calc(65% + 58px);
	width:-moz-calc(65% + 58px);
	width:calc(65% + 58px);
}
.contact-wrapper input[type=submit] {
	width:173px;
	margin-left: -webkit-calc(65% - 15px);
	margin-left: -moz-calc(65% - 15px);
	margin-left: calc(65% - 15px);
	width: 173px;
	float: left;
}
.carousel.has-buttons .band-buttons  {
	right:-245px !important;	
}
footer {
	background:none !important;
	border:none;
}
footer .main-nav li a {
	color:#000;
}
footer .main-nav ul {
	margin-left:10px;
}
footer .main-nav li {
display: list-item;
float: none;
padding: 0;
font-size: 0.9em;
height: auto;
border: none;
clear:both;
}
footer .main-nav li:nth-child(1),
footer .main-nav li:nth-child(2),
footer .main-nav li:nth-child(3){
	float:left;
}
footer .main-nav li:nth-child(4),
footer .main-nav li:nth-child(5),
footer .main-nav li:nth-child(6){
float: none;
position: relative;
top: -60px;
right: -139px;
}
.sharethis-socials {
	display:none;
}
}
/* media query to handle carousel */
@media (min-width: 597px) and (max-width: 767px) { 
.slider {
	height:340px;
}
.carousel, 
.carousel-caption, 
.carousel-inner, 
.carousel .item
{
	height:100%;
}
	.item img {
	position:absolute;
}	
}
/* Landscape phones and down */

 @media (max-width: 480px) {
.mediaSize2:after {
	content:"@media (max-width: 480px)";
}
.pre-nav {
	font-size:0.85em;
}
.logo img {
width:75%;
}
.mobile-nav-icon img {
	height:31px;
}
.nav-gradient {
	height:75px;
}
.header-colorful-line {
	height:80px;
}
.carousel-caption {
	width:auto;
	overflow:hidden;
}
.carousel.has-buttons .band-buttons{
bottom: 18px;
right: -122%;
top: auto !important;
}
.carousel.has-buttons .band-buttons  {
	left:9% !important;
	right:auto;	
}
.carousel-indicators,
.has-buttons .carousel-indicators {
		left: -webkit-calc(63% - 91px);
	left: -moz-calc(63% - 91px);
	left: calc(63% - 91px);
}
.carousel.has-buttons .carousel-caption {
	padding-bottom:50px;
}
.main-slogan {
	width:85%;	
}
.top-socials {
	position:absolute;
	top:-45px;
	right:10px;
}
.socials {
	width:auto;
}
.featured-item h4 {
	clear:both;
	padding-top: 10px;
}
.featured-item p {
	margin-bottom:30px;
}
.shadowed-box { 
	padding: 16px 19px 10px 9px;
}

.testimonial-quote::after {
	bottom:-36px;
}
.testimonial-icon {
	width:80px;
}
.nav-tabs {
	margin-top:0;
}
.tag.active,
.tag {
display: block;
margin-bottom: 10px;
width: auto;
float: none;
}
.tag:nth-child(even) {
	margin-left:0;
}
.bands-list h6,
.bands-list .buy {
	position:static;
	display:inline;
}
.book-band-holder .button {
	width:85%;
}
.bands-list .band {
	margin-bottom:40px;
}
.bands-list .band > img {
	margin-bottom:10px;
}
.bands-list h2 {
	font-size:1.12em;
}
.bands-list .first-pagination-row,
.bands-list .last-pagination-row {
	position:relative;
}
.bands-list .first-pagination-row .pagination,
.bands-list .last-pagination-row .pagination {
position:absolute;
top:0;
right:0;
}
.first-pagination-row + .row {
	margin-top:920px;
}
.contact-wrapper input {
	width:95%;
	margin-left:2.5%;
	float:none !important;
}
.contact-wrapper textarea {
	width:92%;
}
.contact-wrapper textarea,
.contact-wrapper label {
	margin-left:2.5%;
}
.contact-wrapper input[type=submit] {
	margin-left:10px;
	width:95%;
}
.contact-details {
	margin-left:10px;
}
}
 @media (max-width: 979px) {
.mediaSize:after {
	content:"@media (max-width: 979px)";
}

.carousel.has-buttons .band-buttons  {
	left:auto;
	right:-380px;
	top:40px;	
}
}
 @media (min-width: 768px) {
.mobile-nav {
	display:none !important;
}
 }
 @media (min-width: 980px) {
.mediaSize2:after {
	content:"@media (min-width: 980px)";
}
}
@media (min-width: 980px) and (max-width: 1200px) {
.mediaSize:after {
	content:"@media (min-width: 980px) and (max-width: 1200px)";
}
}
/* Large desktop */
 @media (min-width: 1200px) {
.mediaSize:after {
	content:"@media (min-width: 1200px)";
}
}
