.mobile-nav { top:21%; position: absolute; z-index: 999999; }


/* Contact Form 7 */
div.watermark, form.wpcf7 .wpcf7-use-title-as-watermark { color: #CFCFCB !important; }


.nav > li > a:hover, .nav > li > a:focus { background:none; }


.first-pagination-row .span6 { margin-left:0px; }



/* COMMON CSS */
@font-face {
	font-family: 'HandelGothicBT-Regular';
	src: url('fonts/handgotn.eot');
	src: url('fonts/handgotn.eot?#iefix') format('embedded-opentype'), url('fonts/handgotn.woff') format('woff'), url('fonts/handgotn.ttf') format('truetype'), url('fonts/handgotn.svg#handgotn') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
}
.bold {
	font-weight:bold;
}
.no-margin {
	margin:0;
}
.text-orange {
	color:#d6a00a;
}
.text-purple {
	color:#963469;
}
.text-black {
	color:#212121;
}
.text-pink {
	color:#ee1f79;
}
.text-grey {
	color:#787878;
}
.text-light-grey {
	color:#a3a3a3;
}
.normal-text {
	font-size:1em;
}
.small-text {
	font-size:0.857em;
}
.bg-grey {
	background:#212121;
}
.bg-light-grey {
	background:#f0f0f0;
}
.bg-white {
	background:#fff;
}
.bg-none {
	background:none !important;
}
.socials-slogan {
	position:relative;
}
.pre-nav {
	background:#000;
	text-align:right;
	font-size:1em;
	color:#fff;
	font-weight:bold;
	padding:11px 0;
}
.pre-nav span, .pre-nav span a {
	color:#d6a00a;
	text-decoration:none;
}
.pre-nav .phone {
	margin-right:18px;
}
.header-colorful-line {
	background:url(../img/colourful-line.jpg) repeat-x bottom;
	height:64px;
}
.nav-gradient {
	background: #2e2e2e; /* Old browsers */
	background: -moz-linear-gradient(top, #2e2e2e 0%, #101010 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2e2e), color-stop(100%, #101010)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2e2e2e 0%, #101010 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2e2e2e 0%, #101010 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2e2e2e 0%, #101010 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2e2e2e 0%, #101010 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#101010', GradientType=0 ); /* IE6-9 */
	height:59px;
}
.logo {
	float:left;
	width:249px;
}
header .main-nav {
	width:691px;
	margin-left:0;
}
.main-nav ul {
	overflow:hidden;
}
.main-nav li {
	float:left;
	list-style-type:none;
	font-size:1em;
	padding-top:21px;
	padding-right:17px;
	padding-left:15px;
	border-right:1px solid #050505;
	border-left:1px solid #323232;
	height:38px;
}
.main-nav li:first-child {
	border-left:none;
}
.main-nav li:last-child {
	border-right:none;
}
.main-nav li a {
	color:#fff;
}
.mobile-nav {
	background:#000;
	display:none;
}
.mobile-nav ul {
	list-style:none;
	padding:0;
	margin:0;
}
.mobile-nav a {
	color:#fff;
	padding:10px;
	line-height:2.8;
	border-bottom:1px solid #ccc;
	display:block;
}
.mobile-nav a:hover {
	background:#252525;
	text-decoration:none;
}
.top-socials {
	margin-left: 179px;
	margin-top:53px;
}
.main {
	background:url(../img/main-bg.jpg) repeat-x #f8f8f8;
	padding-bottom:15px;
}
.main-slogan {
	background:#212121;
	color:#fff;
	font-size:1.714em;
	height:28px;
	width:587px;
	padding:4px 17px 16px;
	margin-top:41px;
	margin-bottom:20px;
	clear:both;
}
.main-slogan span {
	color:#d6a00a;
}
.slider {
	height:340px;
	box-shadow: 18 -10px 7px -4px black;
	position: relative;
	margin-bottom:50px;
}
.slider:before {
	-webkit-transform: skew(0deg, 4deg);
	box-shadow: 5px 5px 5px #ccc;
	position:absolute;
	background-color: #ccc;
	bottom: -11px;
	content:'';
	z-index: 0;
	width: 200px;
	height:175px;
	right: 20px;
}
.slider:after {
	-webkit-transform: skew(0deg, -4deg);
	box-shadow: 5px 5px 5px #ccc;
	position:absolute;
	background-color: #ccc;
	bottom: -9px;
	content:'';
	width: 200px;
	height:175px;
	left: 11px;
}
.featured-band {
	top: -9px;
	position: absolute;
	right: -8px;
	z-index: 1;
}
.modules {
	margin-top:30px;
}
.module {
	text-align:center;
}
.module h2 {
	padding: 6px 0;
	line-height: 20px;
	font-family: 'HandelGothicBT-Regular';
	font-size: 1em;
	color: white;
	margin: 0;
}
.module-content {
	background:url(../img/colorful-line-module.png) no-repeat;
	padding-top:5px;
	font-size:0.857em;
	color:#a3a3a3;
	text-align:justify;
}
.module-content img {
	margin-bottom:14px;
}
.middle-message {
	font-size:0.857em;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 20px;
	margin-bottom: 15px;
}
.featured-item {
	clear:both;
	position:relative;
	overflow:hidden;
	width:500px;
	border-bottom:1px solid #ededed;
	padding-bottom:16px;
}
.featured-item h3 {
	font-size:1.286em;
	margin-bottom: -8px;
}
.featured-item h4 {
	font-size:1.286em;
	float:left;
	margin-top:0px;
}
.featured-item h5 {
	font-size:0.857em;
	margin-bottom:20px;
}
.featured-item p {
	font-size:0.857em;
	float: left;
	width: 265px;
}
.featured-item img, .featured-item iframe {
	float:left;
	margin-right:10px;
}
.featured-item .button {
	position:absolute;
	bottom: 20px;
}
.button {
	background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(45deg, #e7e7e7 0%, #fcfcfc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #e7e7e7), color-stop(100%, #fcfcfc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #e7e7e7 0%, #fcfcfc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #e7e7e7 0%, #fcfcfc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #e7e7e7 0%, #fcfcfc 100%); /* IE10+ */
	background: linear-gradient(45deg, #e7e7e7 0%, #fcfcfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#fcfcfc', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-size:0.929em;
	padding:5px 9px;
	border:1px solid #ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0px 2px 3px;
	-webkit-box-shadow:0px 2px 3px;
	box-shadow:0px 2px 3px;
	behavior: url(js/PIE.htc);
}
.button:hover {
	background: #c9c9c9; /* Old browsers */
	background: -moz-linear-gradient(45deg, #c9c9c9 0%, #fcfcfc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #c9c9c9), color-stop(100%, #fcfcfc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, #c9c9c9 0%, #fcfcfc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, #c9c9c9 0%, #fcfcfc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, #c9c9c9 0%, #fcfcfc 100%); /* IE10+ */
	background: linear-gradient(45deg, #c9c9c9 0%, #fcfcfc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#fcfcfc', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color:#787878;
	text-decoration:none;
}
.shadowed-box {
	float:right;
	width:307px;
	padding:16px 19px 10px 27px;
	border:1px solid #e3e3e3;
	position:relative;
	-webkit-box-shadow:0px 3px 8px #e3e3e3;
	-moz-box-shadow:0px 3px 8px #e3e3e3;
	box-shadow:0px 3px 8px #e3e3e3;
	behavior: url(js/PIE.htc);
	margin-top:25px;
}
.testimonial-icon {
	position:absolute;
	top:0;
	right:-20px;
}
.latest-testimonial h4 {
	font-size:1.286em;
	margin-bottom: 28px;
}
.latest-testimonial .source span {
	font-size:0.857em;
}
.latest-testimonial .content + .source {
	margin-bottom:40px;
}
.latest-testimonial .content {
	font-style:italic;
	font-size:0.857em;
	margin-top:29px;
	width:275px;
}
.latest-testimonial .button {
	position:absolute;
	bottom: 20px;
	right:27px;
}
.carousel {
	border:8px solid #fff;
	z-index:1;
}
.carousel, .carousel-caption, .carousel-inner, .carousel .item {
	height:100%;
	top:0;
}
/*.carousel .item:not(.active) {
	width:100%;
	position:absolute;
	top:0;
	left:0;
}*/
.carousel-inner > .next.left, .carousel-inner > .prev.right {
	top:0;
}
.carousel-inner > .active.left,
.carousel-inner > .active.right {
top: 0 !important;
width: 100%;
}
.carousel-caption {
	width:38.7%;
	background:#212121;
}
.carousel-caption h4 {
	margin-top:100px;
	margin-bottom:11px;
	font-size:1.286em;
}
.carousel-caption p {
	font-size:0.857em;
	color:#959595;
}
.item > img {
	position:absolute;
	right:0;
}
.item .band-logo {
	float:left;
	margin-right:5px;
	margin-bottom:20px;
}
.carousel .left, .carousel .right {
	position:absolute;
	top:166px;
}
.carousel .left {
	left:-28px;
}
.carousel .right {
	right:-27px;
}
.carousel-indicators {
	top:auto;
	left:43%;
	bottom:-30px;
}
.carousel-indicators li {
	background:url(../img/inactive-slider-icon.png) no-repeat;
	width:15px;
	height:16px;
	margin-right:10px;
	cursor:pointer;
}
.carousel-indicators li.active {
	background:url(../img/active-slider-icon.png) no-repeat;
	width:15px;
	height:16px;
}

.cost-of-band{ background: url(../img/band-cost-bg.png) right center no-repeat; width: 219px; height: 37px; color: #fff; font-weight: bold; font-size: 1em; padding: 18px 0px 0px 32px; }
.cost-of-band .inner { padding-left:15px; }

.carousel .cost-of-band { position: absolute; right: -537px; }
.carousel .cost-of-band.first {
	bottom:90px;
}
.carousel .cost-of-band.second {
	bottom:45px;
}
.carousel .band-buttons {
position: absolute;
bottom:58px;
right:40px;
}
.carousel .band-buttons a:hover { background-color:#d71e6f; }
.has-buttons .carousel-indicators {
	left:65%;
}
.search-band {
	background:#ee1f79;
	color:#fff;
	font-size:1em;
	text-transform:none;
	padding:7px 15px 7px 15px;
}
.search-band:hover {
	color:#fff;
}
.has-buttons.carousel .button {
	font-size:1em;
}

.carousel .book-band {
	margin-left:0;
}
.has-buttons .carousel-caption p {
	margin-top:20px;
}
.has-buttons .band-buttons  {
	display: block;
	overflow: hidden;
	left: 65px;
}
/*.has-buttons .left, .has-buttons .right {
	display:none;
}*/
.homepage-contact .field, .homepage-contact textarea {
	background:#8d8d8d;
	color:#cfcfcb;
	width:290px;
	margin-bottom:20px;
}
.homepage-contact textarea {
	height:155px;
}
.homepage-contact ::-webkit-input-placeholder { /* WebKit browsers */
 color:#cfcfcb;
}
.homepage-contact :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:#cfcfcb;
}
.homepage-contact ::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:#cfcfcb;
}
.homepage-contact :-ms-input-placeholder { /* Internet Explorer 10+ */
 color:#cfcfcb;
}
.homepage-contact .button {
	float:right;
}
.pre-footer {
	padding:20px 0;
	background:url(../img/seperator-grey.jpg) repeat-x #f0f0f0;
	border-bottom:1px solid #e7e7e7;
}
.pre-footer h4 {
	text-transform:uppercase;
}
.pre-footer p {
	font-size:0.857em;
}
.pre-footer .left p {
	width:523px;
}
footer {
	margin-top:8px;
	border-top:2px solid #000;
	border-top:2px solid #000;
}
footer ul {
	margin:0;
	padding:0;
}
footer li:first-child {
	padding-left:0;
}
.legal-social {
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.714em;
	margin-top:14px;
	margin-bottom:20px;
}
.legal-social, .legal-social a {
	color:#8d8d8d;
}
.legal-social ul {
	padding:0;
	margin:0
}
.legal-social li {
	display:inline;
	list-style-type:none;
	margin-right:10px;
}
.socials {
	text-align:right;
}
/*	=============================
	===	TESTIMONIALS PAGE	=====
	============================= */
.testimonials-page {
	margin-bottom:15px;
	position:relative;
}
.testimonials-wrapper {
	background:#fff;
	padding:25px;
}
.testimonials-wrapper > p {
	text-transform:uppercase;
}
.testimonial-quote {
	color:#9d9d9d;
	font-size:0.857em;
	font-style:italic;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	text-align:justify;
}
.testimonial-quote span {
	display:block;
}
.testimonial-quote::before {
	content: open-quote;
	color: #ee1f79;
	font-size: 7.143em;
	font-style: italic;
	position: relative;
	top: 39px;
	left: -7px;
}
.testimonial-quote::after {
	content: close-quote;
	color: #ee1f79;
	font-size: 7.143em;
	font-style: italic;
	position: absolute;
	right: 6px;
	bottom: -45px;
}
.testimonial-source {
	color:#000;
	font-size:0.857em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.testimonials-wrapper .band {
	position:relative;
}
.testimonials-wrapper .band > img {
	border:2px solid #ee1f79;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0px 0px 5px grey;
	-webkit-box-shadow: 0px 0px 5px grey;
	box-shadow: 0px 0px 5px grey;
}
.testimonials-wrapper .buy {
	position: absolute;
	bottom: 16px;
	right: 0;
}
.testimonials-wrapper h5 {
	margin:2px 0 0 0;
	text-transform:uppercase;
}
.testimonials-wrapper h6 {
	margin:0;
	text-transform:uppercase;
	font-weight:normal;
	font-size:0.857em;
}
.testimonial-holder.has-shadow {
	background:url(../img/testimonials-shadow-arrow.png) no-repeat bottom center;
	padding-bottom:60px;
}
/*	=============================
	=====	CONTACT PAGE	=====
	============================= */
	
.contact-wrapper {
	border:8px solid white;
	background:white;
	margin-bottom:47px;
}
.contact-wrapper .span9 {
	width:636px;
}
.contact-message {
	background:#212121;
	color:white;
	text-transform:uppercase;
	padding:17px;
	width:auto;
	margin-bottom:42px;
}
.bg-light-grey {
	width: 100%;
	margin-left: auto;
	padding-top:14px;
}
.contact-wrapper label {
	width:75px;
	font-size:0.857em;
	color:#616060;
	margin-top:7px;
}
.contact-wrapper input + label {
	width:100px;
}
.contact-wrapper input {
	float:left;
	padding:6px 6px;
}
.contact-wrapper textarea {
	width:547px;
	height:192px;
}
.contact-wrapper input[type=submit] {
	color:#fff;
	background:#d71e6f;
	/*background: #fafafa; 
	background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9)); 
	background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%); 
	background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
	background: linear-gradient(to bottom, #fafafa 0%, #e9e9e9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9', GradientType=0 );*/
	border:none;
	border-bottom:1px solid #b8b8b8;
	padding:7px 23px 3px;
	float:right;
}
.contact-details h3 {
	color:#212121;
	font-size:1.286em;
	margin:0;
}
.contact-details {
	color:#707070;
	font-size:0.857em;
	width:165px;
	margin-left:50px;
}
.contact-details .row {
	margin-bottom:10px;
}
.contact-details .socials {
	text-align:left;
	margin-top:45px;
}
/*	=============================
	=====	LANDING PAGE	=====
	============================= */
.landing-page {
	position:relative;
}
.bands-info {
	width:650px;
	margin-top:24px;
}
.sharethis-socials {
	position:absolute;
	top:480px;
}
.bands-info p {
	margin-bottom:32px;
}
.showcase-event {
	background:url(../img/showcase_event_bg.png) no-repeat;
	height:153px;
	width:641px;
	position:relative;
	border:5px solid #d8d8d8;
	border-radius:5px;
}
.showcase-event h3 {
	font-size:1.286em;
	line-height:1;
	color:#f0f0f0;
	background:#ee1f79;
	display:inline;
	padding:10px 15px;
	position:absolute;
	top:25px;
	left:49px;
}
.showcase-event p {
	font-size: 1.143em;
	color: #f0f0f0;
	width: 200px;
	top: 74px;
	position: absolute;
	left: 57px;
}
.showcase-event .button {
	color:#333432;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fafafa 0%, #e9e9e9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9', GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid #b8b8b8;
	padding:7px 7px 3px;
	border-radius:0px;
	position: absolute;
	bottom: 12px;
	right: 12px;
}
.view-more-bands {
	display:block;
	font-size:1.286em;
	color:#ee1f79;
	background:#f0f0f0;
	text-transform:uppercase;
	text-align:center;
	width:644px;
	margin:38px 0 0 3px;
	padding:30px 0;
}
.view-more-bands:hover {
	background:#e7e7e7;
	color:#ee1f79;
	text-decoration:none;
}
.band-testimonial-holder {
	width:270px;
}
.band-testimonial-holder h4 {
	margin-bottom:20px;
}
.band-testimonial {
	font-size:0.857em;
	font-style:italic;
	color:#212121;
	background:#f0f0f0;
	padding:18px 13px;
	position:relative;
}
.band-testimonial::before {
	content: open-quote;
	color: #ee1f79;
	font-size: 7.143em;
	font-style: italic;
	position: absolute;
	top: 33px;
	left: -22px;
	display: block;
}
.band-testimonial::after {
	content: close-quote;
	color: #ee1f79;
	font-size: 7.143em;
	font-style: italic;
	position: absolute;
	right: -8px;
	bottom: 10px;
}
/*	=============================
	==	BANDS LIST 2 PAGE	   ==
	============================= */
.bands-filters {
	padding:25px 0 0 8px;
	text-transform:uppercase;
	width:240px;
}
.bands-filters ul#sidebar li { margin-bottom:20px; }
.bands-filters ul#sidebar li .active_taxonomy{ color:#EE1F79 !important; }

.bands-filters h3 {
	margin-top:0px;
	color:#fff;
	background:#ee1f79;
	font-size:1em;
	font-weight:bold;
	line-height:1;
	padding:6px 5px;
}
.bands-filters h4 {
	color:#ee1f79;
	font-size:0.857em;
	font-weight:bold;
	margin-bottom:0;
	margin-top:25px;
	padding-left:4px;
}
.bands-filters ul {
	list-style-type:none;
	margin:0;
	padding:0 0 0 4px;
}
.bands-filters a {
	color:#6f6f6f;
	font-weight:bold;
	font-size:0.857em;
}
.bands-list {
	width:622px;
}
.bands-list .row {
	float:left;
	/*background:url(../img/testimonials-shadow-arrow.png) no-repeat -111px bottom;*/
	/*padding-bottom:60px;*/
}
.bands-list h2 {
	line-height: 28px; /* Added */	
	color:#000;
	font-size:1.286em;
}
.bands-list .band {
	/*margin-right: 60px;
	float: left;
	position:relative;
	width:250px;*/
	margin: 0 0 40px 0;
	float: left;
	position: relative;
	width: 260px;
}
.bands-list .band img, img.genre, img.region{
	border:2px solid #ee1f79;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0px 0px 5px grey;
	-webkit-box-shadow: 0px 0px 5px grey;
	box-shadow: 0px 0px 5px grey;
}
.bands-list h6 {
	position: absolute;
	top: 207px;
	right: 30px;
	text-transform:uppercase;
}
.bands-list .type {
	font-weight:normal;
	font-size:0.857em;
	text-transform:uppercase;
}
.bands-list .buy {
	position: absolute;
	top: 220px;
	right: 0;
}
.bands-list p {
	font-size:0.857em;
	color:#959595;
	text-align:justify;
}

.first-pagination-row .pagination { margin:0 0 17px 0; } /* Added */

.first-pagination-row,
.last-pagination-row {
	border-bottom:1px solid #ccc;
	padding-bottom:0;
	/*margin-bottom:28px;*/
	margin-bottom:15px;
	margin-left:0;
	margin-top:19px;
}
.last-pagination-row {
	border-top:1px solid #ccc;
	border-bottom:none;
	margin-top:0;
	font-weight:bold;
}
.last-pagination-row .pages {
	margin-top:20px;
}

.first-pagination-row .span6,
.last-pagination-row .span6 {
	margin-left:0;
}
.pagination {
	float:right;
	margin:17px 0;
}
.pagination ul {
padding: 2px;
float:right;
box-shadow:none;
}
.pagination ul>li>a, .pagination ul>li>span {
	border:none;
color:#47576f;
font-size: 0.75em;
font-weight:bold;
margin-left:3px;
padding: 0px 6px;
}
.pagination ul>li.current>a, .pagination ul>li.current>span,
.pagination ul>li>a:hover, .pagination ul>li>span:hover {
color:#fd3be8;
background:none;
}
.pagination ul > li .pagination-arrow {
	background: #fafcfe; /* Old browsers */
background: -moz-linear-gradient(top,  #fafcfe 1%, #c0cfdc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fafcfe), color-stop(100%,#c0cfdc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafcfe 1%,#c0cfdc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafcfe 1%,#c0cfdc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafcfe 1%,#c0cfdc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fafcfe 1%,#c0cfdc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfe', endColorstr='#c0cfdc',GradientType=0 ); /* IE6-9 */
border:1px solid #b2becd;
border-radius:20px !important;	
}
.pagination ul > li .pagination-arrow:hover {
background: #fafcfe; /* Old browsers */
background: -moz-linear-gradient(top,  #fafcfe 1%, #b5c1ce 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fafcfe), color-stop(100%,#b5c1ce)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fafcfe 1%,#b5c1ce 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fafcfe 1%,#b5c1ce 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fafcfe 1%,#b5c1ce 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fafcfe 1%,#b5c1ce 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafcfe', endColorstr='#b5c1ce',GradientType=0 ); /* IE6-9 */
}

.taxonomy-description { margin-bottom:25px; }
.taxonomy-description p:last-child { margin-bottom:0px; }



/*	=============================
	=====	BAND DETAILS 3	=====
	============================= */
.band-details {
	position:relative;
}
.band-profile {
	width:650px;
}
.tags {
	text-transform:uppercase;
	font-size:0.900em;
	font-weight:bold;
	margin-top:25px;
	margin-bottom:21px;
}
.tag {
	text-align:center;
	display:inline-block;
	padding:0px 8px 1px 5px;
	background: #f6f6f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f6f6 0%, #e8e8e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f6f6 0%,#e8e8e8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f6f6 0%,#e8e8e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 1px 4px #b1b1b1;
	-moz-box-shadow: 0px 1px 4px #b1b1b1;
	box-shadow: 0px 1px 4px #b1b1b1;
	border-radius:3px;
	margin-right:3px;
	line-height:2.4;
}
.tag a {
	color:#6f6f6f;
	text-decoration:none;
}
.tag a:hover {
	background:none !important;
}
.tag:hover {
	background: #f6f6f6; /* Old browsers */
	background: -moz-linear-gradient(top, #f6f6f6 0%, #d8d8d8 95%, #ededed 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(95%, #d8d8d8), color-stop(95%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #d8d8d8 95%, #ededed 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f6f6 0%, #d8d8d8 95%, #ededed 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f6f6 0%, #d8d8d8 95%, #ededed 95%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f6f6 0%, #d8d8d8 95%, #ededed 95%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
}
.tag.active {
	background:#272727;
box-shadow: none;
border-radius: 3px;
padding: 0px 8px 1px 5px;
position:relative;
}
.tag.active a {
		color:#f8f8f8;
}
.tag.active:after {
background: url(../img/tab-current-corner.jpg) no-repeat;
content: "";
position: absolute;
width: 5px;
left: 20px;
height: 7px;
}
.band-profile p {
	text-align:justify;
}
.book-band-holder {
	background:#F0F0F0;
	text-transform:uppercase;
	width:auto;
	margin:0;
	padding:30px;
	overflow:hidden;
}
.book-band-holder h3 {
	margin:0;
	float:left;
	font-size:1.286em;
	color:#EE1F79;
	display:inline-block;
}
.book-band-holder p { margin:0px; float: right; }
.book-band-holder p a.book-band { margin-left:0px; }
.book-band-holder p a.button{
	background: #E7E7E7;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #E7E7E7), color-stop(100%, #FCFCFC));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#fcfcfc', GradientType=1);
	color:#333;
}

.book-band {
	background:url('../img/book_icon.png') 6px #ee1f79 no-repeat;
	color:#fff;
	text-transform:none;
	padding:10px 10px 10px 35px;
	margin-left:85px;
	font-size: 1em;
}
.book-band:hover {
	color:#fff;
	background:url('../img/book_icon.png') 6px #d71e6f no-repeat;
	text-decoration:none;
}
.book-band-holder .button,
.carousel .button {
	display: inline-block;
	font-size:1em;
	color:#FFF;
	background:#ee1f79;
	border-radius:0;
	padding:8px 10px;
	box-shadow: none;
	border:none;
	text-transform:none;
	margin-left:11px;
}
.band-samples {
	width:270px;
}
.band-samples h3 {
	font-size:1.286em;
	color:#000;
	margin:none;
}
.band-samples img {
	cursor:pointer;
}
.band-samples img + h3 {
	margin-top:35px;
}
.similar-acts {
	background:#f0f0f0;
	border-top:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	margin:15px 0 19px 0;
}
.similar-acts h3 {
	color:#000;
	font-size:1.3em;
	margin-bottom:0;
	line-height:1.5;
}
.similar-acts ul {
	list-style:none;
	margin:0;
}
.similar-acts li {
	display:inline-block;
	padding:10px;
	background:#f5f5f5;
	border:1px solid #dcdcdc;
	margin:12px 19px 12px 0;
}
.similar-acts li:first-child {
	margin-left:0;
}
.similar-acts li:last-child {
	margin-right:0;
}


h1, h2, h3, ul#menu-primary li a, ul#menu-footer li a { text-transform:uppercase; }

.homepage-contact{ margin-bottom:7%; }

